% -*- mode: erlang -*-
{erl_opts, [debug_info]}.

{port_specs, 
 [{".*", "priv/htpasswd.so", 
   ["c_src/*.c"],
   [{env, 
     [{"CFLAGS", 
       "$CFLAGS -std=c99 -g -Wall -Werror -O3 `apu-1-config --includes` -DPATH_MAX=PATH_MAX"},
      {"LDFLAGS",
       "$LDFLAGS `apu-1-config --link-ld`"}]}
   ]}
 ]}.
